<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding"
        contract="GeoLib.Contracts.IGeoService" name="tcpEP" />
      <endpoint address="http://localhost/GeoService" binding="basicHttpBinding"
        bindingConfiguration="" contract="GeoLib.Contracts.IGeoService"
        name="httpEP" />
      <endpoint address="net.tcp://localhost:8010/MessageService" binding="netTcpBinding"
        contract="Geolib.Client.Contracts.IMessageService" />
      <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGeoService" contract="ServiceReference1.IGeoService"
        name="NetTcpBinding_IGeoService">
        <identity>
          <userPrincipalName value="DESKTOP-04UD1B6\risha" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/GeoService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGeoService" contract="ServiceReference1.IGeoService"
        name="BasicHttpBinding_IGeoService" />
      <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGeoService1" contract="ServiceReference2.IGeoService"
        name="NetTcpBinding_IGeoService1">
        <identity>
          <userPrincipalName value="DESKTOP-04UD1B6\risha" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/GeoService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGeoService1" contract="ServiceReference2.IGeoService"
        name="BasicHttpBinding_IGeoService1" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGeoService" />
        <binding name="BasicHttpBinding_IGeoService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="" sendTimeout="00:50:45" />
        <binding name="NetTcpBinding_IGeoService" />
        <binding name="NetTcpBinding_IGeoService1" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>