<?xml version="1.0" encoding="UTF-8"?>
<!--<?define PRODUCT="GeoService"?>
<?define MAINEXE=$(var.GeoLib.ConsoleHost.TargetFileName)?>
<?define VERSION=!(bind.FileVersion.$(var.MAINEXE))?>--> 
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="GeoServiceInstaller" Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Geo Services" UpgradeCode="17585e43-eb7a-4514-a5c8-d6923d2d65b1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="GeoServiceInstaller" Level="1">
			<!--<ComponentGroupRef Id="ProductComponents" />-->
      <ComponentGroupRef Id="GeoServiceComponentGroup"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="GeoService" >
          
        </Directory>
			</Directory>
		</Directory>
	</Fragment>
  

	<!--<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			--><!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. --><!--
			--><!-- <Component Id="ProductComponent"> --><!--
				--><!-- TODO: Insert files, registry keys, and other resources here. --><!--
			--><!-- </Component> --><!--
    <Component Id ="TextFile">
      <File Source="TextFile1.txt" />
    </Component>
		</ComponentGroup>
	</Fragment>-->
</Wix>
